// Calc.scss

.calc-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: #000;
  background-color: #ddd;
  width: 100%;
  max-width: 100vh;
}

.line {
  margin: 0;
  padding: 0;
}

.l2,
.l3,
.l4,
.l5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.l6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}

.calc-display {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  color: #ddd;
  background-color: #777;
  text-align: end;
  align-items: center;
  margin: 0;
  padding: 0.2rem;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  border: solid #ccc 0.1rem;
  min-width: 4rem;
  min-height: 2.6rem;
  height: 10vh;
  padding: 0.4rem;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

button:active {
  font-size: 1.6rem;
  background-color: #aaa;
  font-weight: bolder;
}

.c4 {
  background-color: orange;
}

.c4:hover {
  background-color: rgb(255, 176, 30);
}

.c4:active {
  background-color: rgb(187, 121, 0);
}
